@import _variables

#contentArea
    height: $content-height


#frontImage
    background: url(../images/front-image.png)
    background-position: center center
    background-size: cover
    filter: opacity(.3) hue-rotate(-90deg) blur(2px)
    width: 100vw
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    position: fixed
    top: 2.5em


#appTitle
    text-transform: uppercase
    font-weight: bolder
    letter-spacing: 2px
    color: $primary-text-color
    text-align: center
    font-size:  1.5em

    .textOutline
        color: $accent-color
        text-shadow: 1px 1px 2px white, 0 0 1em black, 0 0 0.2em white

#appSubtitle
    color: $primary-text-color
    text-align: center
    margin: 2em