@import _variables

#frontImage
  background: url(../images/front-image.png)
  background-position: center center
  background-size: cover
  width: 100vw

#appTitle
  text-transform: uppercase
  font-weight: lighter
  letter-spacing: 2px
  width: 100vw
  font-size: 3em
  color: #b6c999
  text-align: center
