@import ./_variables
@import ./_Main
@import ./_Schedule
@import ./_Services
@import ./_Content
@import ./_Header
@import ./_Footer
@import ./_Sidebar

*
  box-sizing: border-box
  padding: 0
  margin: 0

body
  background-color: #eee
  display: flex
  flex-direction: column

h1, h2, h3, h4
  padding-top: 1em
  font-family: $fonts-header

h1, h2
  text-align: center

p
  font-family: $fonts-body
  font-size: 1.25em

.centeredText
  text-align: center

.hide
  display: none

.flex
  display: flex
  flex-wrap: wrap
  flex-grow: 1
  justify-content: center
  border-radius: 2px
  // max-width: 900px


.flexContent
  background-color: #f1f1f1
  align-items: center
  min-width: 250px
  flex: 1 1 0
  margin-left: 1.5em
  margin-right: 1.5em
  max-width: 304px
  display: flex
  flex-direction: column
